<div *ngIf="item">
    <div class="card">
        <div class="display-flex justify-space-between">
            <div class="display-flex">
                <div>
                    <img src="{{item?.owner?.avatar_url}}" alt="">
                </div>
                <div>
                    <p>Varun Srinivas</p>
                    <div>
                        <span>
                                    Profile Url:
                                        </span>
                        <span>
                                            https://api.github.com
                                        </span>
                    </div>
                    <div>
                        <p>
                            <span>
                                                        Data One:
                                                    </span>
                            <span>
                                                        Value One
                                                    </span>
                        </p>
                        <p>
                            <span>
                                                        Data Two:
                                                    </span>
                            <span>
                                                        Value Two
                                                    </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="display-flex align-items-end">
                <button type="button" class="button-wrapper">Details</button>
            </div>
        </div>

    </div>

</div>