/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-family: 'lato';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.header-wrapper {
    background: #0570c2;
    padding: 30px;
}

.align-items-end {
    align-items: flex-end;
}

.justify-space-between {
    justify-content: space-between;
}

.button-wrapper {
    background: transparent;
    border: 1px solid #0570c2;
    padding: 5px 16px;
    color: #0570c2;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 16px;
}

.display-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.input-wrapper {
    position: relative;
    input[type="text"] {
        padding: 8px;
        min-height: 36px;
        min-height: 36px;
        width: 14em;
        border-radius: 3px;
        border: none;
    }
    .input-icon-wrapper {
        position: absolute;
        top: 7px;
        right: 9px;
        span {
            color: #a8a8a8;
        }
    }
}

.select-wrapper {
    margin-right: 3em;
    select {
        padding: 8px;
        min-height: 36px;
        width: 14em;
        border-radius: 3px;
        border: none;
    }
}

.no-data-found {
    color: grey;
    font-weight: 600;
    text-align: center;
    font-size: 18px;
}

.results-wrapper {
    max-width: 50%;
    margin: 0 auto;
    padding-top: 2em;
    .results-heading {
        color: #616161;
        font-weight: 600;
        padding-right: 5px;
    }
}